<!DOCTYPE html>
<html>
<head>
    {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

      <title>HUFS COMPLAIN</title>

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
      <link id="css-preset" href="{% static 'css/presets/preset1.css' %}" rel="stylesheet">

  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
   <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
   <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
      <![endif]-->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
</head>

<body>
  <section id="contact">
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>훕스컴플레인 전달하기</h2>
            <p>작성된 내용은 어떠한 수정없이 글로벌캠퍼스 학생회에 바로 전달됩니다.</p>
          </div>
        </div>

    <form method="post">

    {% csrf_token %}


    <label for="fname">사용자 이메일</label>
    <input type="text" id="id_from_email" name="from_email" class="form-control" placeholder="사용자의 이메일을 적으세요" required>

    <label for="fname">제목</label>
    <input type="text" id="id_subject" name="subject" class="form-control" placeholder="제목" required>

    <label for="fname">전달할 내용</label>
    <input type="text" id="id_message" name="message" class="form-control" placeholder="전달할 내용" rows="5" required>
    <br>

    <input type="checkbox" id="accpet" required>
    <label for="accpet">이메일 및 작성된 내용 수집에 동의합니다.</label>
    <br>
    <button type="submit" class="btn-submit">전송하기</button>





</form>
      </div>
    </div>
  </section><!--/#contact-->
</body>