<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .bg-1 {
      background-color: #1abc9c;
      color: #ffffff;
  }
  .bg-2 {
      background-color: #474e5d;
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      padding-top: 30px;
      padding-bottom: 60px;
  }
  </style>
</head>

<body>
<div class="code">
<code>
<script type="text/javascript"><!--
function copy_trackback(trb) {
var IE=(document.all)?true:false;
if (IE) {
if(confirm("개발자 이메일을 복사하시겠습니까?"))
window.clipboardData.setData("Text", trb);
} else {
temp = prompt("Ctrl+C를 눌러 클립보드로 복사하세요", trb);
}
}
//--></script>
</code>
</div>

<div class="container-fluid bg-1 text-center">
  <h3>훕스컴플레인</h3>
  <h3>한국외국어대학교 불만사항 제기 사이트</h3>
    <br>
</div>

<div class="container-fluid bg-2 text-center">
    <br>
  <h3>학생회와 교수님에게 메일을 보낼 수 있습니다</h3>
  <br><br>
  <a href="http://hufscomplain.com/email/" class="btn btn-default btn-lg"> 불평하러 가기 </a>
    <br>
    <p>위의 버튼을 눌러주세요</p>
</div>
<footer class="container-fluid bg-4 text-center">
    <br>
    <p>서울캠퍼스도 추가 예정입니다.</p><br>
  <p>개발자 <a href="https://github.com/roharon">GitHub</a>

<a href="roharon@hufs.ac.kr" onclick="copy_trackback(this.href); return false;">이메일
</a>


</footer>


</body>
</html>
